body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 16px;
    color: #000;
    font-family: 'Roboto', sans-serif;
	background-color: darkgray;
	
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1306px;
    margin: 0 auto;
    padding: 0 15px;
    
}
/*----------------------------------*/

.info{
    margin-top: 150px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: black;
}
.number{
    margin-top: 15px;
    text-align:center;
    font-size: 36px;
    font-weight: 700;
}
.social{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.social__link{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: pink;
}
